# Logistic Regression

It is a classificaltion algorithm

Sigmoid function transforms a linear line into a curve which has values between 0 and 1. The reason we choose a sigmoid function to model classification problems solved with logistic regression is that we want to make sure that predicted value has a defined range which helps in differentiating the classes.

In [1]:
#importing libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error as mse

In [3]:
data = pd.read_csv('data_cleaned.csv')
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
# Segregating data in independent and dependent variables

X = data.drop(['Survived'], axis=1)
y = data['Survived']

data.shape, X.shape, y.shape

((891, 25), (891, 24), (891,))

In [5]:
# Creating Train Test split

from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=122)

In [9]:
# SciKit requires all the data to be normalized. So, lets normalize the data such as Age, Fare using Max_Min_Scalar

from sklearn.preprocessing import MinMaxScaler

scalar = MinMaxScaler()

cols = train_X.columns
cols

Index(['Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female',
       'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4',
       'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3',
       'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [17]:
#applying MinMaxScalar to Train data

train_X_scales = scalar.fit_transform(train_X)

#This converts data into array. We need to convert it back to DataFrame
train_X_scales

array([[0.39792223, 0.06441171, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.11660777, 0.03103473, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.40201142, 0.01571255, 0.        , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.51073661, 0.29953885, 1.        , ..., 0.        , 0.        ,
        1.        ],
       [0.32046752, 0.03259623, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.39792223, 0.02822072, 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [19]:
#convert above array into DataFrame
train_X_scaled = pd.DataFrame(train_X_scales, columns=cols)
train_X_scaled.head()

#you can see that Age and Fare are normalized now.

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0.397922,0.064412,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.116608,0.031035,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.402011,0.015713,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.252514,0.015412,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.252514,0.015412,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [22]:
#Scale Test_X as well

test_X_scales = scalar.fit_transform(test_X)
test_X_scaled = pd.DataFrame(test_X_scales, columns=cols)
test_X_scaled.head()

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0.432177,0.175668,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.444795,0.025374,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.406940,0.016892,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.444795,0.015412,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.217666,0.015176,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Implementing Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression as LOR
from sklearn.metrics import f1_score

In [27]:
lor = LOR()

lor.fit(train_X_scaled, train_y)

LogisticRegression()

In [29]:
#f1_score for training data

predicted_train = lor.predict(train_X_scaled)
f1_train = f1_score(predicted_train, train_y)
f1_train

0.7549407114624506

In [30]:
# f1_score for Test Data

predicted_test = lor.predict(test_X_scaled)
f1_test = f1_score(predicted_test, test_y)
f1_test

0.6710526315789473

In [33]:
# Here, we are using predict which is only outputting 1 and 0s. It dosen't show probabilities. To predict probabilities, we need to use 'predict_proba'
predicted_test

array([1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0], dtype=int64)

## Making predictions using *predict_proba* function

In [81]:
# Predicting over train

train_predict_proba = lor.predict_proba(train_X_scaled)
train_predict_proba

array([[0.22736899, 0.77263101],
       [0.79954294, 0.20045706],
       [0.92237078, 0.07762922],
       ...,
       [0.59613503, 0.40386497],
       [0.42706317, 0.57293683],
       [0.88441223, 0.11558777]])

In [82]:
#Here, we get two values, prediction for both the classes. For further calculations, we need a list of only 1 probability for calculation

train_preds = train_predict_proba[:,1]
train_preds

array([0.77263101, 0.20045706, 0.07762922, 0.10852716, 0.10852716,
       0.45666153, 0.0560048 , 0.27910277, 0.10613587, 0.04840931,
       0.1589273 , 0.81393042, 0.94735232, 0.9549599 , 0.11181158,
       0.79391655, 0.70376561, 0.07773548, 0.11532625, 0.30886784,
       0.19804785, 0.81090992, 0.91324932, 0.0595141 , 0.11522465,
       0.60972385, 0.12205393, 0.07632641, 0.2472108 , 0.06046812,
       0.07835104, 0.61610097, 0.1443882 , 0.45108948, 0.1022025 ,
       0.31518987, 0.07240355, 0.803245  , 0.9419146 , 0.09982656,
       0.14169387, 0.33166977, 0.9209013 , 0.30007103, 0.07835104,
       0.05674924, 0.14666468, 0.71764499, 0.52146383, 0.19789295,
       0.0904971 , 0.52065357, 0.07122419, 0.1085226 , 0.64070427,
       0.14123268, 0.22870833, 0.76711829, 0.13718442, 0.53791713,
       0.07835539, 0.22605419, 0.90791603, 0.55211214, 0.09769595,
       0.25698804, 0.08779852, 0.10220698, 0.86557848, 0.09921343,
       0.10452378, 0.09329778, 0.4734199 , 0.09913586, 0.13454557,
       0.07832721, 0.21538271, 0.4747764 , 0.06436861, 0.31099339,
       0.07835539, 0.382422  , 0.08779878, 0.09337869, 0.0826168 ,
       0.10305252, 0.82644187, 0.40353293, 0.09620467, 0.45980881,
       0.48249989, 0.3649927 , 0.07837265, 0.44994942, 0.12908743,
       0.64128485, 0.72850758, 0.10349407, 0.54042341, 0.03189806,
       0.10557842, 0.63002229, 0.072953  , 0.0800617 , 0.59466252,
       0.71845759, 0.52824561, 0.10217833, 0.11946898, 0.11529955,
       0.10449579, 0.92044925, 0.10222891, 0.1022025 , 0.43476685,
       0.81852899, 0.83762519, 0.43615781, 0.22242413, 0.07643611,
       0.0991681 , 0.13827935, 0.95543566, 0.4339088 , 0.9337098 ,
       0.07835104, 0.72226791, 0.29433581, 0.07835539, 0.10851788,
       0.61049912, 0.0606733 , 0.09920122, 0.26320989, 0.09225457,
       0.89577271, 0.0797315 , 0.0826168 , 0.3824477 , 0.44459754,
       0.83022297, 0.94031271, 0.94604702, 0.06854522, 0.11522465,
       0.10613587, 0.26977023, 0.07075656, 0.09916273, 0.22605419,
       0.58343411, 0.28827747, 0.44756392, 0.73469874, 0.73183426,
       0.07835539, 0.10853707, 0.10532088, 0.07835539, 0.07853734,
       0.11799148, 0.61610097, 0.16799334, 0.43385608, 0.23801343,
       0.92648006, 0.4398706 , 0.88204426, 0.82914595, 0.91798821,
       0.07835715, 0.49297171, 0.38284323, 0.81189457, 0.23180626,
       0.07295377, 0.13590395, 0.04397313, 0.79529883, 0.84421277,
       0.82482096, 0.49509369, 0.06674994, 0.15438639, 0.43320336,
       0.55712468, 0.19884725, 0.81600263, 0.11529955, 0.63787418,
       0.06643314, 0.62980888, 0.11714659, 0.65080043, 0.0933224 ,
       0.803245  , 0.11529971, 0.3412463 , 0.38285245, 0.79781514,
       0.65582762, 0.04539566, 0.07834764, 0.33651281, 0.07835104,
       0.56101563, 0.10556   , 0.09914022, 0.91910044, 0.46310413,
       0.84919902, 0.47412521, 0.27765703, 0.82083781, 0.10122475,
       0.77520032, 0.88072117, 0.10249558, 0.43433538, 0.94825755,
       0.88511058, 0.22276175, 0.82083781, 0.80036068, 0.11529955,
       0.19884725, 0.90469807, 0.09902927, 0.09837913, 0.61610443,
       0.12966263, 0.30224015, 0.92041782, 0.0840639 , 0.75521412,
       0.16566308, 0.05392828, 0.19804785, 0.03189806, 0.05892349,
       0.75734889, 0.59802806, 0.11529971, 0.07835104, 0.6161129 ,
       0.86623635, 0.48316297, 0.39884743, 0.63290613, 0.0944039 ,
       0.81651637, 0.07855429, 0.07295707, 0.31643576, 0.68007782,
       0.76420614, 0.04838999, 0.08779878, 0.21452668, 0.30811917,
       0.08256936, 0.19277123, 0.53260076, 0.94578549, 0.62119712,
       0.09914022, 0.52378767, 0.10532808, 0.07295377, 0.07835104,
       0.08151549, 0.7245559 , 0.67770714, 0.81514907, 0.19884725,
       0.0797315 , 0.2058161 , 0.11276987, 0.64763351, 0.18989208,
       0.08006673, 0.93251306, 0.9522589 , 0.91013084, 0.10219787,
       0.919163  , 0.53463567, 0.80028745, 0.44951641, 0.57066892,
       0.05358068, 0.13590395, 0.16346512, 0.4542001 , 0.63482534,
       0.94087806, 0.59321101, 0.09330081, 0.56752508, 0.74461566,
       0.50584808, 0.03080968, 0.68081175, 0.22828859, 0.23641176,
       0.11616862, 0.09984295, 0.19507523, 0.08535932, 0.2089254 ,
       0.08005883, 0.43136577, 0.54017395, 0.13238878, 0.10852716,
       0.20586651, 0.07762922, 0.33433063, 0.61609982, 0.91692183,
       0.12256894, 0.87226825, 0.69052461, 0.03993228, 0.10642312,
       0.27937169, 0.411268  , 0.11522465, 0.07835539, 0.40358498,
       0.1022207 , 0.32791197, 0.90384933, 0.09916273, 0.06767877,
       0.1013621 , 0.37251644, 0.92859331, 0.11181255, 0.65424041,
       0.03503905, 0.07835539, 0.0844442 , 0.55971705, 0.20327445,
       0.89323723, 0.94258733, 0.87892906, 0.27286831, 0.16092065,
       0.20586651, 0.23801343, 0.10529132, 0.05885579, 0.28299798,
       0.04914479, 0.6293688 , 0.12776159, 0.14169387, 0.92169046,
       0.49160334, 0.07071232, 0.08517098, 0.95606039, 0.92522767,
       0.35206096, 0.05156637, 0.26052378, 0.07833285, 0.95160816,
       0.95135853, 0.19804785, 0.1266986 , 0.60352518, 0.0878036 ,
       0.492531  , 0.4194286 , 0.91934756, 0.96856215, 0.88787821,
       0.71764367, 0.03991739, 0.1061351 , 0.61413495, 0.08010794,
       0.95555071, 0.01885639, 0.07766975, 0.08514767, 0.62396317,
       0.4339088 , 0.23198002, 0.10532349, 0.17333653, 0.11871335,
       0.90568608, 0.88896394, 0.07296532, 0.83457372, 0.19692707,
       0.7640778 , 0.22837899, 0.59822152, 0.68482779, 0.08779501,
       0.78365519, 0.39732641, 0.41966919, 0.74480113, 0.24926475,
       0.07833285, 0.68243757, 0.26965494, 0.08256813, 0.42549934,
       0.21186017, 0.10613526, 0.25485794, 0.6862222 , 0.10613881,
       0.07424602, 0.12689006, 0.09942289, 0.94380629, 0.54882559,
       0.19884725, 0.61610097, 0.32403445, 0.09620326, 0.95135853,
       0.95099982, 0.93770467, 0.34606098, 0.90686478, 0.23854226,
       0.05159692, 0.17259749, 0.23793303, 0.06419268, 0.07835539,
       0.05857339, 0.9584977 , 0.10220698, 0.39080377, 0.07071541,
       0.78116185, 0.27685203, 0.3421679 , 0.1013621 , 0.76947066,
       0.11657088, 0.30113035, 0.14438799, 0.68007782, 0.11535877,
       0.45270691, 0.93747606, 0.74458556, 0.59797882, 0.30076264,
       0.31280617, 0.87464479, 0.82335704, 0.08300283, 0.05857339,
       0.78668149, 0.53468421, 0.28188128, 0.10875313, 0.68007782,
       0.0783413 , 0.10613587, 0.93250969, 0.58991282, 0.23783655,
       0.05258003, 0.4347189 , 0.1118329 , 0.29433581, 0.06863998,
       0.08547486, 0.97220421, 0.45452653, 0.10613541, 0.84857603,
       0.0991681 , 0.88549773, 0.13630082, 0.09168428, 0.91013699,
       0.57128328, 0.18745368, 0.61610097, 0.63345096, 0.08932957,
       0.44796559, 0.35170792, 0.07525645, 0.38908555, 0.96450458,
       0.08401737, 0.85364199, 0.08154648, 0.6161129 , 0.67511988,
       0.40755444, 0.07835539, 0.89697354, 0.61608982, 0.63787456,
       0.41601924, 0.1061621 , 0.70490618, 0.60665234, 0.04997904,
       0.1053713 , 0.91303267, 0.16098719, 0.02937676, 0.92290618,
       0.10613587, 0.6328185 , 0.93693104, 0.07760687, 0.28422685,
       0.64156182, 0.93449073, 0.31443654, 0.630205  , 0.5653824 ,
       0.08511968, 0.27444606, 0.37227263, 0.11287105, 0.40740703,
       0.94171651, 0.10206437, 0.25194882, 0.11616862, 0.11865451,
       0.18668033, 0.08256641, 0.10610626, 0.73011139, 0.12000188,
       0.70261742, 0.88943158, 0.61609943, 0.15271791, 0.44975317,
       0.0797315 , 0.5818931 , 0.93400913, 0.5377912 , 0.10219802,
       0.10610287, 0.15595432, 0.09624977, 0.22837757, 0.6161129 ,
       0.57399214, 0.10613587, 0.1151635 , 0.83857736, 0.88188766,
       0.69681406, 0.82287723, 0.48885519, 0.32749895, 0.17005035,
       0.93445101, 0.47075196, 0.09137056, 0.10613495, 0.16785703,
       0.81579371, 0.7811385 , 0.48260567, 0.60605735, 0.06641076,
       0.26302075, 0.76505331, 0.25509033, 0.09052427, 0.73897216,
       0.11529971, 0.05255997, 0.09914966, 0.54071172, 0.65394854,
       0.36473283, 0.61610097, 0.07853734, 0.06053884, 0.06854522,
       0.35699214, 0.11866573, 0.54042341, 0.64824985, 0.52386837,
       0.50831684, 0.93063902, 0.95297919, 0.79697862, 0.10877674,
       0.05325439, 0.94173599, 0.89574293, 0.04482112, 0.07835104,
       0.0904971 , 0.07835104, 0.53468421, 0.10988999, 0.19261947,
       0.90770563, 0.87091843, 0.29433581, 0.90048261, 0.06887416,
       0.17979235, 0.4959198 , 0.66055925, 0.10613587, 0.95649267,
       0.68449596, 0.1003097 , 0.4338489 , 0.04245879, 0.20895765,
       0.72505058, 0.08035039, 0.90448723, 0.95407399, 0.61613674,
       0.07835539, 0.25075913, 0.58994821, 0.22605419, 0.11532625,
       0.94508762, 0.5736032 , 0.97110051, 0.08010842, 0.22123313,
       0.61610097, 0.59802572, 0.82030466, 0.9707412 , 0.07835104,
       0.43423951, 0.68279092, 0.38863728, 0.02885612, 0.62687383,
       0.17758572, 0.8257206 , 0.21705726, 0.9095775 , 0.07835104,
       0.31443654, 0.0979166 , 0.10539414, 0.71996393, 0.79255332,
       0.40386497, 0.57293683, 0.11558777])

In [83]:
for i in range(0, len(train_preds)):
  if(train_preds[i]>0.55):
    train_preds[i] = 1
  else:
    train_preds[i] = 0

In [84]:
# Calculating f1-score
k = f1_score(train_preds, train_y)
print('Training f1_score', k )

Training f1_score 0.7622950819672131

## Confusion Metrix

In [88]:
from sklearn.metrics import confusion_matrix

cf = confusion_matrix(test_y, predicted_test)
cf

array([[122,  21],
       [ 29,  51]], dtype=int64)

In [89]:
from sklearn.metrics import classification_report

print(classification_report(test_y, predicted_test))

              precision    recall  f1-score   support

           0       0.81      0.85      0.83       143
           1       0.71      0.64      0.67        80

    accuracy                           0.78       223
   macro avg       0.76      0.75      0.75       223
weighted avg       0.77      0.78      0.77       223

In [ ]:
## Parameters of Logistic Regression